.navbar {
    background-color: #88012a;
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-brand {
    height: auto;
}
