@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&subset=latin,cyrillic);

body {
    color: #000;
}

.navbar-inverse .navbar-brand {
    height: auto;
}

footer.footer .t-col {
    margin: 0;
}


.flat-button {
    background-color: #e0e0e0;
    color: #000;
    font-size: 14px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    padding: 10px 20px;
    box-shadow: none;
    border: none;
    display: inline-block;
}

.flat-button:hover {
    text-decoration: none;
    color: #000;
    background-color: #C7C7C7;
}

.flat-button.success {
    color: white;
    background-color: #199c68;
}

.flat-button.success:hover {
    background-color: #00834F;
}

.flat-button.success:hover {
    color: white;
}

.flat-button.disabled {
    color: #b2b2b2;
    cursor: not-allowed;
}

.flat-button.big {
    font-size: 16px;
    padding: 15px 60px;
}

.wrap > .container {
    padding-top: 20px;
}

.cover {
    background-position: center;
    background-attachment: fixed;
}

.cover .container {
    text-align: center;
    font-size: 42px;
    color: #88012a;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 1.17;
}

.cover .container a {
    color: #ffffff;
    background-color: #820118;
    border-radius: 20px;
    display: inline-block;
    font-family: 'Roboto',sans-serif;
    line-height: 60px;
    border: 0 none;
    font-size: 16px;
    padding: 0 60px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 700;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.cover .container a:hover {
    text-decoration: none;
}

/* EVENTS */
.panel-default {
    border: 2px solid #000;
    box-shadow: none;
    margin-bottom: 20px;
}

.event-item {
    font-family: 'Open Sans',serif;
    font-weight: 300;
    color: #000;
}

.event-item.panel-default {
    margin-bottom: 30px;
}

.event-item h5 {
    margin-top: 0;
}

h5 {
    color: #88012a;
}

.event-index h2 {
    color: rgb(130, 1, 24);
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0;
}

.event-search {
    background-color: #f0f0f0;
    padding: 40px 0;
    margin-bottom: 40px;
}

/* ADAPTIVE */
@media (max-width: 767px) {
    .event-item .event-thumb {
        min-height: 0;
    }

    .event-item .event-thumb img {
        margin: 0 0 20px 0;
    }

    .row.btn-row a, .row.btn-row button {
        float: left !important;
        margin-bottom: 10px;
    }
}

/* TILDA */
#allrecords a {
    margin-top: 5px;
}

.t412__content {
    padding-bottom: 70px;
    margin-bottom: 20px;
}

.t412__img_circle {
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.t-prefix_1 {
    float: none;
}

/*.t021 *, .t021  :after, .t021 :before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}*/

.t182__buttons a:first-of-type {
    background-color: #88012a;
}

.t182__buttons a:first-of-type:hover {
    background-color: #6F0011;;
}

.t182__buttons a:last-of-type {
    background-color: #e0e0e0;
}

.t182__buttons a:last-of-type:hover {
    background-color: #C7C7C7;
}
